files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_mv_credentials.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/usr/bin/env bash

        set -e

        . /opt/elasticbeanstalk/support/envvars

        /usr/bin/aws s3 cp s3://${BUCKET}/${APP}/.env /var/app/ondeck/.env
        /usr/bin/aws s3 cp s3://${BUCKET}/${APP}/oauth-public.key /var/app/ondeck/storage/oauth-public.key
        /usr/bin/aws s3 cp s3://${BUCKET}/${APP}/oauth-private.key /var/app/ondeck/storage/oauth-private.key
        chmod 644 /var/app/ondeck/.env
        chmod 644 /var/app/ondeck/storage/oauth-public.key
        chmod 644 /var/app/ondeck/storage/oauth-private.key
        chown webapp:webapp /var/app/ondeck/.env
        chown webapp:webapp /var/app/ondeck/storage/oauth-public.key
        chown webapp:webapp /var/app/ondeck/storage/oauth-private.key

