files:
  "/var/app/.env":
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3-ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-140532139703/dreamsgem-dev/.env
  "/var/app/oauth-private.key":
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3-ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-140532139703/dreamsgem-dev/oauth-private.key
  "/var/app/oauth-public.key":
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3-ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-140532139703/dreamsgem-dev/oauth-public.key
container_commands:
   00_mv_env:
      command: "mv /var/app/.env ./.env"
   01_mv_oauth_private_key:
      command: "mv /var/app/oauth-private.key ./storage/oauth-private.key"
   02_mv_oauth_public_key:
      command: "mv /var/app/oauth-public.key ./storage/oauth-public.key"
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["arn:aws:s3:::elasticbeanstalk-ap-northeast-1-140532139703"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
