commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
container_commands:
   01_migrate:
      command: "php artisan migrate --force"
   02_seed:
      command: "php artisan db:seed --force"
files:
  "/var/app/current/.env":
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3-ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-140532139703/dreamsgem-dev/.env
  "/var/app/current/storage/oauth-private.key":
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3-ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-140532139703/dreamsgem-dev/oauth-private.key
  "/var/app/current/storage/oauth-public.key":
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3-ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-140532139703/dreamsgem-dev/oauth-public.key
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 64M
      post_max_size = 64M

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Making /storage writeable..."

      if [ ! -f /var/app/current/storage/logs/laravel.log ]; then
          echo "Creating /storage/logs/laravel.log..."
          touch /var/app/current/storage/logs/laravel.log
          chown webapp:webapp /var/app/current/storage/logs/laravel.log
      fi

      if [ ! -d /var/app/current/public/storage ]; then
        echo "Creating /public/storage symlink..."
        ln -s /var/app/current/storage/app/public /var/app/current/public/storage
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_artisan.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Laravel artisan start..."

      php /var/app/ondeck/artisan cache:clear
      php /var/app/ondeck/artisan config:cache
      php /var/app/ondeck/artisan route:cache

      chgrp -R webapp /var/app/current/storage /var/app/current/bootstrap/cache
      chmod -R ug+rwx /var/app/current/storage /var/app/current/bootstrap/cache

  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["arn:aws:s3:::elasticbeanstalk-ap-northeast-1-140532139703"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
