option_settings:
  # "aws:elasticbeanstalk:sqsd":
  #   HttpPath: /worker/queue
  "aws:elasticbeanstalk:application:environment":
    SUPERVISE: enable

packages:
  yum:
    python27-setuptools: []
container_commands:
  01_supervise:
    command: ".ebextensions/supervise.sh"
  02_mv_artisan_scheduler:
    command: "mv /tmp/artisan_scheduler /etc/cron.d/"

files:
  "/tmp/artisan_scheduler":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root /usr/bin/php /var/app/current/artisan schedule:run >> /dev/null 2>&1
    encoding: plain
